:root {
  --base-font: 'Nunito Sans', sans-serif;
  --bg-ligth: #f2f2f2;
  --bg-dark: #202c36;
  --bg-soft-dark: #2b3844;
  --txt-dark: #111517;
  --txt-ligth-gray: #c4c4c4;
  --text-ligth: #fff;
  --bg-white: #ffffff;
  --mobile-headline: bold 0.875rem / 1.25rem var(--base-font);
  --mobile-small-text: 400 0.875rem / 1.25rem var(--base-font);
  --mobile-headline3: bold 1.125rem / 1.625rem var(--base-font);
  --mobile-small-description: 300 0.875rem / 1rem var(--base-font);
  --mobile-smaller-description: 300 0.875rem / 2rem var(--base-font);
  --desktop-headline: bold 1.5rem / 2rem var(--base-font);
}

body {
  margin: 0;
  font-family: var(--base-font);
  box-sizing: border-box;
}
img {
  max-inline-size: 100%;
}

.dark-mode {
  --bg-ligth: var(--bg-dark);
  --bg-white: var(--bg-soft-dark);
  --txt-dark: var(--text-ligth);
}

.ligth-mode {
  --bg-ligth: #f2f2f2;
  --bg-dark: #202c36;
  --bg-soft-dark: #2b3844;
  --txt-dark: #111517;
  --txt-ligth-gray: #c4c4c4;
  --text-ligth: #fff;
  --bg-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-ligth: var(--bg-dark);
    --bg-white: var(--bg-soft-dark);
    --txt-dark: var(--text-ligth);
  }
}
::-webkit-scrollbar {
  background-color: var(--bg-soft-dark);
}
